commands:
  01_node_update:
    command: curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.38.0/install.sh | bash
    ignoreErrors: true
  02_node_install:
    command: |
      export NVM_DIR="$HOME/.nvm"
      [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
      nvm install 20
      nvm use 20
    ignoreErrors: true

container_commands:
  01_npm_install:
    command: "npm install --production"
    leader_only: true
  02_npm_cache_clean:
    command: "npm cache clean --force"
    ignoreErrors: true