option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "node src/app.js"
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: "production"
    DB_DIALECT: "mariadb"
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:autoscaling:asg:
    MinSize: 1
    MaxSize: 2
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false